body{
    background-color: #e0bcdd;
}

.container{
    width:50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #bf8abb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 1);
}

input{
    position: relative;
    left: 41.5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px; 
}
